/* ============ 
   VARIABLES
============*/
:root {
    --fs-100: 1.6rem;
    --fs-200: 1.8rem;
    --fs-300: 2rem;
    --fs-400: 2.2rem;
    --fs-500: 2.3rem;
    --fs-600: 2.5rem; 
    --fs-700: 2.6rem;
    --fs-800: 2.7rem;
    --fs-900: 2.8rem;
    --fs-1000: 3rem;
    --fs-1100: 3.4rem;
    --fs-1200: 3.5rem;
    --fs-1300: 4rem;
    --fs-1400: 10rem;

    --ff-sans: 'IBM Plex Sans';

    --clr-bg: #E1F6FF;

    --clr-red: #FFDCDC;
    --clr-yellow: #FFF5D2;
    --clr-green: #D5FFDB;

    --clr-blue-100: #E8FBFF;
    --clr-blue-200: #D1E9EE;
    --clr-blue-300: #58766B;

    --clr-white: #FFF;
    --clr-black: #000;
}

/* =========== 
    RESETS 
=========== */
*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;          /* 62.5% of 16px browser font size is 10px */
}

body {
    background-color: var(--clr-bg);
    font-family: 'IBM Plex Mono', monospace;
}

a,
cite,
li,
input {
    display: block;
}

a {
    text-decoration: none;
    color: var(--clr-black);
}

input {
    outline: none;
}

/* =============
     REUSABLE
=========== */
.wrapper {
    margin: 0 auto;
    max-width: 136.6rem;
}

/* ===========
      GRID 
 =========== */
.grid-container {
    display: grid;
    display: -ms-grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr 2fr;
}

.grid-item-1 {
    grid-column: 2 / 4;
}

.grid-item-2 {
    grid-column: 2 / 4;
}

.grid-item-3 {
    grid-column: 2 / 3;   
}

.grid-item-4 {
    grid-column: 3 / 4;
}

.grid-item-5 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.grid-item-6 {
    grid-row: 3 / 4; 
    grid-column: 1 / 2;
}

/* =========== 
    HEADER
 =========== */
header {
    background-color: var(--clr-blue-200);       
    font-weight: 700;
}

.header-content {
    display: flex;
    align-items: center;
    margin-right: 5rem;
    padding-bottom: 1.5rem;
}

.homepage-btn-container {
    margin-left: auto;    
}

.homepage-btn {
    outline: var(--clr-black) solid 1px;
    background-color: #ffe428;
    padding: .5rem 3rem;
    font-size: var(--fs-300);
    font-family: 'Space Mono';
    font-weight: normal;
}

 img[src*='logo'] {
    --dimension: 9rem;
    max-width: v    ar(--dimension);
    max-height: var(--dimension);
}

.studentSuccess-text {
    font-size: var(--fs-800);
    text-decoration: underline;
    text-decoration-thickness: .3rem;
    text-underline-offset: .35rem;
}

.header-links {
    display: flex;
    margin-left: auto;
}

.header-links > a {
    margin: 0 1.5rem;
    padding: 1rem .6rem;
    font-size: var(--fs-500);
    white-space: nowrap;         
} 

/* =========== 
    MAIN
 =========== */
.main {
    margin: 0 3.7rem 3.7rem 2rem;
}

/* =========== 
    HERO
 =========== */
.hero {
    margin: 3.6rem 0 3.2rem 2.8rem;
}

.hero > h1 {
    font-size: var(--fs-1300);
    font-weight: 700;
}

.hero > p {
    font-size: var(--fs-600)
}

    /* !!!!!!!!!!
       REMOVED
    !!!!!!!!!! */
/* =========== 
     NAV
 =========== */
nav {
    margin-bottom: 2.8rem;
    border: 1px solid var(--clr-black);
    border-radius: 15px;
    background-color: var(--clr-yellow);

    visibility: hidden;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.nav-links > a {
    border: 1px solid #303030;
    border-radius: 30px;
    background-color: var(--clr-white);
    padding: 2rem 3rem;
    font-size: var(--fs-900);
    font-weight: 700;
}

/* =========== 
    NOTICE
 =========== */
.notice {
    margin: 0 2.8rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.notice-content {
    padding: 6.5rem 5rem 4rem 5.6rem;
}

.notice-title {
    position: absolute;
    z-index: 100;
    transform: translate(-4.5rem, -4.5rem);
}

.notice-title > p {
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: .5rem 4rem;
    max-width: fit-content;
    background-color: var(--clr-green);
    font-size: var(--fs-1200);
    font-weight: 700;
}

blockquote {
    position: relative;
    border: 2px solid var(--clr-white);
    border-radius: 5px;
    padding: 3.2rem;
    background: var(--clr-blue-100);
}

blockquote::before,
blockquote::after {
    content: '';
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

blockquote::before {
    inset: 1rem;
    background-color: #58766B;
    z-index: -100;
    
}

blockquote::after {
    inset: 2rem;
    background-color: #3E523B;
    z-index: -200;
}

blockquote p {
    font-size: var(--fs-1200);
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

blockquote cite {
    font-size: var(--fs-1000);
    font-family: var(--ff-sans);
    font-style: normal;
    text-align: center;
}

/* =========== 
    NOTIFICATIONS
 =========== */
.notifications {
    border: 1px solid #000000;
    border-radius: 10px;
}

.notifications-wrapper {
    margin: 1.6rem;
}

.notifications-wrapper > p {
    margin-bottom: 1rem;
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: var(--fs-1200);
}

.notifications-content {
    display: flex;
    flex-direction: column;
}

.notifications-placeholder {
    margin-bottom: 1.2rem;
    background-color: #D9D9D9;
    padding: 1.2rem 1.5rem 2.2rem 1.8rem;
    mix-blend-mode: multiply;
    border-radius: 10px;
}

.notifications-placeholder p:first-child {
    font-size: var(--fs-600);
    font-weight: 700;
    text-decoration-line: underline;

}

.notifications-placeholder p:nth-child(2) {
    font-size: var(--fs-300);
    font-family: var(--ff-sans);
    font-weight: normal;
}

/* =========== 
    SEIKO
 =========== */
.seiko {
    transform: translateY(9.5rem);
}

.seiko-textbox {
    position: absolute;
    /* bottom: 27rem; */
    top: -5.5rem;
    right: 7rem;
    border: 1px solid var(--clr-black);
    border-radius: 15px;
    background-color: var(--clr-white);
}

.seiko-textbox > p {
    width: 20ch;
    padding: 1.3rem;
    font-family: var(--ff-sans);
    font-size: var(--fs-100);
}

img[src*='seiko'] {
    --img-dimension: 26.25rem;
    position: relative;
    max-width: var(--img-dimension);
    max-height: var(--img-dimension);
}

/* =========== 
    AGENDAS
 =========== */
.agendas {
    margin-top: 3rem;
}

.agendas-title {
    margin-bottom: .75rem;
    background: var(--clr-red);
    border: 1px solid var(--clr-black);
    border-radius: 5px;
    width: fit-content;
    padding: .1rem 2.5rem 1rem 2.5rem;
    font-size: var(--fs-1100);
    font-family: 'IBM Plex Mono';
    font-weight: 700;
}

form {

}

#addAgendaButton,
#agendasList {
    cursor: pointer;
}

#addAgendaButton {
    margin-bottom: 1rem;
}

#addAgendaButton > div,
#addAgendaButton > p {
    display: inline;
}

#addAgendaButton > div {
    margin-right: .5rem;
    background-color: #FF4646;
    padding: .5rem .75rem 0 .75rem;
}

#addAgendaButton > p {
    font-size: var(--fs-200);
    font-weight: 400;
    font-family: var(--ff-sans);
    text-decoration-line: underline;
    color: #FF4646;
    mix-blend-mode: multiply;
}

#agendasList {
    /* overflow-y: scroll; */
    /* max-height: 20rem; */
}

#agendasList input[type|='text'] {
    padding: .25rem;
    font-family: var(--ff-sans);
    font-size: var(--fs-100);
}

#agendasList > li {
    margin-bottom: .75rem;
    text-transform: capitalize;
}

#agendasList > li input,
#agendasList > li p {
    display: inline;
}

#agendasList > li input {
    margin-right: .5rem;
}

#agendasList > li p {
    font-size: var(--fs-200);
    font-family: 'IBM Plex Sans';
    text-transform: uppercase;
}